body {
	font-family: iranyekanfn !important;
	direction: rtl;
	margin: 0;
	overflow-x: hidden !important;
	width: 100% !important;
	font-size: 14.5px;
	font-weight: 400;
    padding: 0;
	color: $textColorDark !important;
	background-color: #fff;
}
*{
	box-sizing: border-box;
	direction: rtl;
	// overflow-x: hidden !important;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}
h1, h2, h3, h4, h5, h6,input, textarea {
	font-family: iranyekanfn !important;
	color: $textColorDark;
}
h1{
	font-size: 26px;
}
h2{
	font-size: 23px;
}
h3{
	font-size: 20px;
}
h4{
	font-size: 18px;
}
h5{
	font-size: 16px;
}
h6{
	font-size: 14px;
}
h1,h2,h3,h4,h5,h6{
	font-weight: 800;
}
.lowMargined{
	margin: 7px 0;
}
.mediumMargined{
	margin: 15px 0 !important;
}
.highMargined{
	margin: 30px 0;
}
.sectionPadding{
	padding: 80px 0;
	@include xs{
		padding: 40px 0;
	}
}
.lowPadding{
	padding: 7px;
}
.mediumPadding{
	padding: 15px;
}
.highPadding{
	padding: 30px;
}
.ExtraHighPadding{
	padding: 80px;
}
.centeredText{
	text-align: center;
}
.noPadding{
	padding: 0;
}
.noMargin{
	margin: 0;
}
.generalHeading{
	h1,h2,h3,h4,h5,h6{
		line-height: 60px !important;
		word-spacing: -5px;
		font-size: 30px !important;
		margin: 0;
		@include xs{
			font-size: 23px !important;
			line-height: 50px !important;
		}
	}
	span{
		font-size: 17px;
		font-weight: 300;
		margin-top: 5px;
		display: block;
		position: relative;
		padding-bottom: 20PX;
		&::after{
			position: absolute;
			content: '';
			background-color: $offColor;
			width: 100px;
			height: 3px;
			border-radius: 1px;
			bottom: 0;
			right: 0;
			left: 0;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

.bigHeading{
	h1,h2,h3,h4,h5,h6{
		font-size: 45px !important;
		@include xs{
			font-size: 26px !important;
		}
	}
	span{
		font-size: 18px;
	}
}
.mediumWeight{
	font-weight: 400;
	font-size: 14px;
}
p{
	line-height: 30px;
	color: $textColorLowSat;
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 14px;
}
.justified{
	text-align: justify;
}
.mainParagraph{
	font-size: 13.5px;
    color: $textColorLighter;
    line-height: 30px;
    margin: 0;
    font-weight: 400;
}
.lightText{
	color: $textColorLight;
}
.lighterText{
	color: $textColorLighter;
	font-weight: 300;
}
.smallText{
	font-size: 13px;
}
.smallerText{
	font-size: 12px;
}
.bottomBorder{
	border-bottom: 1px solid rgba(0,0,0,0.1);
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.lowRadius{
	border-radius: 5px;
}
.mediumRadius{
	border-radius: 10px;
}
.highRadius{
	border-radius: 20px;
}
.darkBorder{
	border: 1px solid $backColorDark2;
}
.lightBorder{
	border: 1px solid $lowSatColor;
}
.offBorder{
	border: 1px solid $backColorDark;
}
.gradient1{
	background: linear-gradient(90deg , $backColorDark 0%, $backColorLight 100%);
}
.gradient2{
	background: linear-gradient(90deg , $backColorDark2 0%, $backColorLight2 100%);
	*{
		color: #fff !important;
	}
	.bottomBorder{
		border-color: rgba(255,255,255,0.4);
	}
}
.mainBoxBack{
	background-color: $mainColor;
	color: #fff !important;
	*{
		color: #fff !important;
	}
	a{
		color: #fff !important;
	}
	.generalButton{
		&::before{
			content: url("data:image/svg+xml,%3Csvg height='15' width='15' fill='%23fff' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 330 330' xml:space='preserve'%3E%3Cpath d='M15 180h263.787l-49.394 49.394c-5.858 5.857-5.858 15.355 0 21.213C232.322 253.535 236.161 255 240 255s7.678-1.465 10.606-4.394l75-75c5.858-5.857 5.858-15.355 0-21.213l-75-75c-5.857-5.857-15.355-5.857-21.213 0-5.858 5.857-5.858 15.355 0 21.213L278.787 150H15c-8.284 0-15 6.716-15 15s6.716 15 15 15z'%3E%3C/path%3E%3C/svg%3E");
		}
	}
}
.darkBoxBack{
	background-color: $mainColorDark;
	color: #fff !important;
	*{
		color: #fff !important;
	}
	a{
		color: #fff !important;
	}
	.generalButton{
		&::before{
			content: url("data:image/svg+xml,%3Csvg height='15' width='15' fill='%23fff' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 330 330' xml:space='preserve'%3E%3Cpath d='M15 180h263.787l-49.394 49.394c-5.858 5.857-5.858 15.355 0 21.213C232.322 253.535 236.161 255 240 255s7.678-1.465 10.606-4.394l75-75c5.858-5.857 5.858-15.355 0-21.213l-75-75c-5.857-5.857-15.355-5.857-21.213 0-5.858 5.857-5.858 15.355 0 21.213L278.787 150H15c-8.284 0-15 6.716-15 15s6.716 15 15 15z'%3E%3C/path%3E%3C/svg%3E");
		}
	}
}
.lightBoxBack{
	background-color: $backColorDark;
}
.boxShadow{
	box-shadow: 0px 0px 50px -20px rgba(0, 26, 102, 0.3);
}
button{
    font-family: iranyekanfn !important;
	cursor: pointer;
}
img{
	max-width: 100%;
	height: auto;
}
table{
	width: 100%;
	border-collapse: collapse;
	margin: 20px 0;
	border: 1px solid rgba(13, 84, 131,0.1);
	th{
		text-align: right;
		border: 1px solid rgba(13, 84, 131,0.1);
		padding: 12px;
	}
	tr{
		&:nth-child(2n+1) {
			background-color: rgba(236, 252, 226,0.3);
		}
	}
	
	td{
		font-size: 13.5px;
		padding: 8px 4px;
		font-weight: 400;
		border: 1px solid rgba(50 , 131 , 13 , 0.1);
		padding: 15px 10px;
		strong {
			font-weight: 600;
		}
	}
}
.mainView{
	max-width: 1280px;
	margin-left: auto !important;
	margin-right: auto !important;
	@include mvb{
		padding-right: 15px !important;
		padding-left: 15px !important;
	}
}
a,a:visited{
	text-decoration: none;
	color: $textColorDark;
}
li{
	list-style-type: none;
	margin: 7px 0;
	position: relative;
	padding-right: 12px;
	&::before{
		content: '';
		position: absolute;
		width: 6px;
		height: 6px;
		border-radius: 2px;
		background-color: $mainColor;
		top: 0;
		bottom: 0;
		margin-top: auto;
		margin-bottom: auto;
		right: 0;
	}
}
.darkListStyle{
	&::before{
		background-color: $offColor;
	}
}
.noListStyle{
	padding-right: 0;
	&::before{
		display: none;
	}
}
.checkListStyle{
	padding-right: 20px;
	&::before{
		content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2340b819' width='14' height='14' viewBox='0 0 512 512'%3E%3Cpath d='M172.2 434.6a39.3 39.3 0 0 1-28.1-11.6L22.9 301.9a33.4 33.4 0 1 1 47.2-47.2l102.1 102.2L441.9 87.1a33.4 33.4 0 0 1 47.2 47.2L200.4 423a39.7 39.7 0 0 1-28.2 11.6Z'/%3E%3C/svg%3E");
		width: 14px;
		height: 14px;
		background-color: initial;
	}
}
.crossListStyle{
	padding-right: 20px;
	&::before{
		content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23b82819' width='12' height='12' viewBox='0 0 512 512'%3E%3Cpath d='M312.2 255.8 482 86a33.5 33.5 0 1 0-47.4-47.4L264.8 208.4 95 38.6a33.5 33.5 0 0 0-47.4 0 33.5 33.5 0 0 0 0 47.4l169.8 169.8L47.6 425.6a33.5 33.5 0 0 0 0 47.4 33.5 33.5 0 0 0 47.4 0l169.8-169.8L434.6 473a33.5 33.5 0 0 0 47.4 0 33.5 33.5 0 0 0 0-47.4Z'/%3E%3C/svg%3E");
		width: 12px;
		height: 17px;
		background-color: initial;
	}
}
.arrowListStyle{
	padding-right: 22px;
	&::before{
		content: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath style='fill:none;stroke:%23258a52;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px' d='M249.38 336 170 256l79.38-80m-68.35 80H342'/%3E%3Cpath d='M448 256c0-106-86-192-192-192S64 150 64 256s86 192 192 192 192-86 192-192Z' style='fill:none;stroke:%23258a52;stroke-miterlimit:10;stroke-width:32px'/%3E%3C/svg%3E");
		width: 16px;
		height: 19px;
		background-color: initial;
	}
}

label{
	display: block;
	margin-bottom: 15px;
	font-size: 13px;
	text-align: right;
	width: 100%;
}
input{
	margin-top: 5px;
	display: block;
	width: 100%;
	padding: 10px;
	&[type=text] , &[type=password] , &[type=email] , &[type=tel] , &[type=url]{
		border: none;
		background-color: $backColorLight;
		border-radius: 5px;
		color: $textColorDark;
		font-size: 14px;
		@include placeholder{
			color: #373c60;
			opacity: 0.25;
		}
	}
	&[type=checkbox]{
		width: max-content;
		margin: 0;
	}
	&[type=submit]{
		background-color: $mainColor;
		color: #fff;
		border: none;
		font-weight: 500;
		padding: 15px 25px;
		cursor: pointer;
		transition: all 0.3s;
		border-radius: 5px;
		font-size: 14px;
		&:hover{
			background-color: darken($mainColor , 10%);
		}
	}
	&:focus{
		outline: none;
	}
}
textarea{
	margin-top: 5px;
	display: block;
	width: 100%;
	height: 150px;
	padding: 10px;
	resize: none;
	border-radius: 5px;
	background-color: $backColorLight;
	border: none;
	color: $textColorDark;
	font-size: 14px;
	@include placeholder{
		color: #373c60;
		opacity: 0.25;
	}
	&:focus{
		outline: none;
	}
}
select{
	margin-top: 5px;
	display: block;
	width: 100%;
	padding: 15px 10px;
	border: 1px solid #e2e5fc;
	font-family: iranyekanfn;
	background-color: transparent;
	option{
		font-family: iranyekanfn;
	}
}
.generalButton{
	padding: 10px 20px;
    width: max-content;
    margin: 30px 10px;
	margin-right: 0;
    background-color: $mainColor;
    border-radius: 5px;
    border: none;
    color: #fff !important;
	position: relative;
	padding-left: 40px;
	cursor: pointer;
	display: block;
	transition: all 0.3s;
    &::before{
        content: url("data:image/svg+xml,%3Csvg height='15' width='15' fill='%23fff' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 330 330' xml:space='preserve'%3E%3Cpath d='M15 180h263.787l-49.394 49.394c-5.858 5.857-5.858 15.355 0 21.213C232.322 253.535 236.161 255 240 255s7.678-1.465 10.606-4.394l75-75c5.858-5.857 5.858-15.355 0-21.213l-75-75c-5.857-5.857-15.355-5.857-21.213 0-5.858 5.857-5.858 15.355 0 21.213L278.787 150H15c-8.284 0-15 6.716-15 15s6.716 15 15 15z'%3E%3C/path%3E%3C/svg%3E");
		position: absolute;
		left: 15px;
		transform: rotate(180deg) translateX(0px);
		width: 15px;
		height: 15px;
		transition: all 0.3s;
		top: 0;
		bottom: 0;
		margin-top: auto;
		margin-bottom: auto;


    }
	&:hover{
		background-color: darken($mainColor , 10%);
		&::before{
			left: 10px;
		}
	}
}
.noArrowButton{
	padding: 10px 25px;
	&::before{
		display: none;
	}
	&::after{
		display: none;
	}
}
.noBorderButton{
	border: none !important;
	padding-right: 0;
	&:hover{
		background-color: none !important;
	}

}
.outlineButton{
	background-color: transparent !important;
	color: $textColorDark !important;
	border: 1px solid $mainColor;
	&::before{
		content: url("data:image/svg+xml,%3Csvg height='15' width='15' fill='%23112437' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 330 330' xml:space='preserve'%3E%3Cpath d='M15 180h263.787l-49.394 49.394c-5.858 5.857-5.858 15.355 0 21.213C232.322 253.535 236.161 255 240 255s7.678-1.465 10.606-4.394l75-75c5.858-5.857 5.858-15.355 0-21.213l-75-75c-5.857-5.857-15.355-5.857-21.213 0-5.858 5.857-5.858 15.355 0 21.213L278.787 150H15c-8.284 0-15 6.716-15 15s6.716 15 15 15z'%3E%3C/path%3E%3C/svg%3E");
	}
}

.siteMessage{
	position: relative;
	background-color: #FFF3CD;
	display: block;
	width: 100%;
	padding: 15px 45px 15px 15px;
	margin: 15px 0;
	border-radius: 5px;
	&::before{
		position: absolute;
		width: 20px;
		height: 20px;
		right: 15px;
		top: 0;
		bottom: 0;
		margin: auto;
	}
}

.warningMessage{
	background-color: #FFF3CD;
	border: 1px solid rgba(81, 64, 11 , 0.15);
	color: #51400B;
	&::before{
		content: url("data:image/svg+xml,%3Csvg fill='%2351400B' viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.143 13.577a1.857 1.857 0 1 1 3.715 0 1.857 1.857 0 0 1-3.715 0zm.181-11.153a1.681 1.681 0 1 1 3.345 0l-.651 6.515a1.026 1.026 0 0 1-2.043 0l-.65-6.515z'/%3E%3C/svg%3E");
	}
}
.successMessage{
	background-color: #D1E7DD;
	border: 1px solid rgba(17, 70, 46 , 0.15);
	color: #11462e;
	&::before{
		content: url("data:image/svg+xml,%3Csvg fill='%2311462E' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 236.988 236.988' style='enable-background:new 0 0 236.988 236.988' xml:space='preserve'%3E%3Cpath d='M194.953 28.046 88.766 134.234 42.035 87.504 4.681 124.859l84.085 84.083L232.307 65.401z'/%3E%3C/svg%3E");
	}
}
.errorMessage{
	background-color: #F8D7DA;
	border: 1px solid rgba(93, 20, 26 , 0.15);
	color: #5d141a;
	&::before{
		content: url("data:image/svg+xml,%3Csvg fill='%235d141a' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' aria-hidden='true'%3E%3Cpath d='M61.403 10.997 53.003 2.597 32 23.6 10.997 2.597 2.597 10.997 23.6 32 2.597 53.003 10.997 61.403 32 40.4 53.003 61.403 61.403 53.003 40.4 32z'/%3E%3C/svg%3E");
	}
}
.informMessage{
	background-color: #CFF4FC;
	border: 1px solid rgba(14, 65, 76 , 0.15);
	color: #0e414c;
	&::before{
		content: url("data:image/svg+xml,%3Csvg fill='%230e414c' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30.063 30.063' style='enable-background:new 0 0 30.063 30.063' xml:space='preserve'%3E%3Cpath d='m17.577 26.354 2.343.124v3.286h-9.778v-3.124l1.356-.123c.739-.084 1.191-.329 1.191-1.315V13.781c0-.908-.247-1.195-1.028-1.195l-1.437-.08V9.096h7.353v17.258zM14.703.299c1.808 0 3.124 1.359 3.124 3.083 0 1.728-1.315 3.001-3.165 3.001-1.889 0-3.124-1.275-3.124-3.001 0-1.725 1.235-3.083 3.165-3.083z'/%3E%3C/svg%3E");
	}
}

.alignleft {
	float: left;
	margin-right: 1.5em;
	margin-bottom: 1.5em;
}

.alignright {
	float: right;
	margin-left: 1.5em;
	margin-bottom: 1.5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 1.5em;
}

