@font-face {
	font-family: iranyekanfn;
	font-style: normal;
	font-weight: bold;
	src: url('fonts/iranyekanfn/fonts/eot/iranyekanwebboldfanum.eot');
	src: url('fonts/iranyekanfn/fonts/eot/iranyekanwebboldfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/iranyekanfn/fonts/woff/iranyekanwebboldfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/iranyekanfn/fonts/ttf/iranyekanwebboldfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekanfn;
	font-style: normal;
	font-weight: 100;
	src: url('fonts/iranyekanfn/fonts/eot/iranyekanwebthinfanum.eot');
	src: url('fonts/iranyekanfn/fonts/eot/iranyekanwebthinfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/iranyekanfn/fonts/woff/iranyekanwebthinfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/iranyekanfn/fonts/ttf/iranyekanwebthinfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekanfn;
	font-style: normal;
	font-weight: 300;
	src: url('fonts/iranyekanfn/fonts/eot/iranyekanweblightfanum.eot');
	src: url('fonts/iranyekanfn/fonts/eot/iranyekanweblightfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/iranyekanfn/fonts/woff/iranyekanweblightfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/iranyekanfn/fonts/ttf/iranyekanweblightfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekanfn;
	font-style: normal;
	font-weight: normal;
	src: url('fonts/iranyekanfn/fonts/eot/iranyekanwebregularfanum.eot');
	src: url('fonts/iranyekanfn/fonts/eot/iranyekanwebregularfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/iranyekanfn/fonts/woff/iranyekanwebregularfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/iranyekanfn/fonts/ttf/iranyekanwebregularfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekanfn;
	font-style: normal;
	font-weight: 500;
	src: url('fonts/iranyekanfn/fonts/eot/iranyekanwebmediumfanum.eot');
	src: url('fonts/iranyekanfn/fonts/eot/iranyekanwebmediumfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/iranyekanfn/fonts/woff/iranyekanwebmediumfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/iranyekanfn/fonts/ttf/iranyekanwebmediumfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekanfn;
	font-style: normal;
	font-weight: 800;
	src: url('fonts/iranyekanfn/fonts/eot/iranyekanwebextraboldfanum.eot');
	src: url('fonts/iranyekanfn/fonts/eot/iranyekanwebextraboldfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/iranyekanfn/fonts/woff/iranyekanwebextraboldfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/iranyekanfn/fonts/ttf/iranyekanwebextraboldfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekanfn;
	font-style: normal;
	font-weight: 900;
	src: url('fonts/iranyekanfn/fonts/eot/iranyekanwebblackfanum.eot');
	src: url('fonts/iranyekanfn/fonts/eot/iranyekanwebblackfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/iranyekanfn/fonts/woff/iranyekanwebblackfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/iranyekanfn/fonts/ttf/iranyekanwebblackfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekanfn;
	font-style: normal;
	font-weight: 950;
	src: url('fonts/iranyekanfn/fonts/eot/iranyekanwebextrablackfanum.eot');
	src: url('fonts/iranyekanfn/fonts/eot/iranyekanwebextrablackfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('fonts/iranyekanfn/fonts/woff/iranyekanwebextrablackfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('fonts/iranyekanfn/fonts/ttf/iranyekanwebextrablackfanum.ttf') format('truetype');
}


//Text Colors
$textColorDark: #173711;
$textColorLowSat: #2f362e;
$textColorSemi: #2e5c1c;
$textColorLight: #3f7039;
$textColorLighter: #8d8d8d;

//Main Colors
$mainColor: #258a52;
$mainColorDark: #0d321e;
$lowSatColor: #65f7a7;
$offColor: #f3b870;

//Gradient Colors
$backColorDark: #f7f8f7;
$backColorLight: #f6fbf5;
$backColorDark2: #0d321e;
$backColorLight2: #258a52;
$inputBackColor: #f2f3f2;


@mixin placeholder {
	&::-webkit-input-placeholder {@content}
	&:-moz-placeholder           {@content}
	&::-moz-placeholder          {@content}
	&:-ms-input-placeholder      {@content}  
}